<!DOCTYPE html>
<html>
<head>
  <title>ポイントアプリ ヤネイの商品ページ</title>
  <link rel="stylesheet" type="text/css" href="/static/cart.css">
</head>
<header>
<body>
  {% include 'header.html' %}
  <div class="grid-container">
    {% for product in data %}
      <div class="grid-item">
        <input type="hidden" name="hidden_data" value={{product.id}} id = "productId">
        <h2>{{product.name}}</h2>
        <img src="data:image/jpeg;base64,{{image}}" alt="商品1の画像">
        <p>{{product.description}}</p>
        <p>{{product.quantity}}</p>
        <p>価格: {{product.price * product.quantity}}円</p>
        <button class="delete" id = "addition" onClick = "additionclicked({{product.id}})">削除</button>
      </div>
    {% endfor %}
  </div>
  <div class="buy-div">
    <button class="buy-btn">購入</button>
  </div>
</body>
</html>
